---
layout: default
---

<div class="jumbotron main-header">
    <div class="container">
        <img src="/assets/img/kappa.png" class="float-left kappa-logo" alt="Kappa Team Logo" />
        <p><a href="https://ctftime.org/team/1607/" rel="nofollow" target="_blank"><img src="//ctftime.org/static/img/s/16x16.png" border="0" alt="Join us on CTFtime"/></a><span class="kappa">Kappa</span> is CTF team from Saint Petersburg</p>
    </div>
</div>

<div class="container">
    {% for post in paginator.posts %}
    <div class="blog-post">
        <h1><a class="kappa" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <p class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }} {% if post.author %}by <a href="https://github.com/{{post.author}}" class="blog-post-author">{{post.author}}</a>{% endif %}</p>
        <p class="post-excerpt">
            {{ post.excerpt | strip_html | strip_newlines | truncate: 140 }}
        </p>
        <p class="post-link">
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </p>
    </div>
    {% endfor %}
    
    {% if paginator.total_pages > 1 %}
    <ul class="pagination justify-content-center">
        {% if paginator.previous_page %}
        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: "//", "/" }}">&leftarrow; Newer</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&leftarrow; Newer</a></li>
        {% endif %}

        {% if paginator.next_page %}
        <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: "//", "/" }}">Older &rightarrow;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Older &rightarrow;</a></li>
        {% endif %}
        </div>
    </div>
    {% endif %}
</div>

