@import "highlight";

$kappa-gradient: linear-gradient(to right, red, orange , #eded00, green, deepskyblue, blue, violet);


.navbar-kappa {
    background: #000;
    padding: 0;

    &>.container {
        background: url("/assets/img/kappa.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: left center;
        padding: .5rem 15px;
    }

    .navbar-brand {
        padding-left: 3.5rem;
    }

    .navbar-brand, .nav-link {
        color: #4f4;

        &:hover {
            color: #5f5;
        }
    }

    .navbar-text {
        color: #0f0;
    }
}

.kappa {
    font-weight: bold;
    background: $kappa-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

pre {
    padding: 0.5rem;
}

footer {
    font-size: 0.9rem;
    color: #222;
    margin-top: 1.5rem;
    border-top: 1px solid #222;
    padding-top: 1.5rem;
}

.main-header {
    min-height: 9rem;
}

.kappa-logo {
    padding-right: 2rem;
}

@media screen and (max-width: 767px) {
    .kappa-logo {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .kappa-logo {
        height: 7.5rem;
    }
}

@media screen and (min-width: 992px) {
    .kappa-logo {
        height: 7.2rem;
    }
    
    .main-header {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .kappa-logo {
        height: 9rem;
    }
    
    .main-header {
        font-size: 1.5rem;
    }
}

.post-feed {
    margin-top: 4rem;
}

.blog-post-meta {
    border-left: 3px solid #555;
    color: #555;
    padding: 0 0 0 0.4rem;
    font-size: 0.9rem;
}

blockquote {
    border-left: 4px solid #333;
    color: #333;
    padding: 0 0 0 0.8rem;
    font-size: 1.25rem;
}

.blog-post-author {
    font-weight: bold;
    text-decoration: none;
    color: #555;
}

a.blog-post-author :hover {
    color: #555;
}

.blog-post {
    margin-bottom: 2rem;
}

.post-content.container {
    & img.preview-wide {
        display: block;
        margin: auto;
        max-width: 100%;
    }

    & img.preview-small {
        max-width: 60%;
    }
}

