@import "highlight";

$kappa-gradient: linear-gradient(to right, red, orange , yellow, green, blue, violet);


h1, .kappa {
    font-weight: bold;
    background: $kappa-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

pre {
    padding: 0.5rem;
}

footer {
    font-size: 0.9rem;
    color: #222;
    margin-top: 1.5rem;
    border-top: 1px solid #222;
    padding-top: 1.5rem;
}

.main-header {
    min-height: 7rem;
}

.kappa-logo {
    height: 100%;
    padding-right: 0.5rem;
}
