<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kappa CTF Team</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-kappa">
        <div class="container">
            <a href="{{ "/" | absolute_url }}" class="navbar-brand mr-auto">Kappa CTF Team</a>

            <ul class="navbar-nav d-none d-md-flex">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/about.html">О нас</a>
                </li>
                <li class="nav-item navbar-text">
                    <strong>16+</strong>
                </li>
            </ul>
        </div>
    </nav>
    
    {{ content }}

    <footer>
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link disabled">&copy; МРОО «АРСИБ», 2018–2019</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://t.me/kappakzf" target="_blank">Telegram</a>
                <li class="nav-item">
                    <a class="nav-link" href="https://ctftime.org/team/1607" target="_blank">CTFTime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:press&#x40;kappactf.ru" target="_blank">E-mail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/kappactf/" target="_blank">GitHub</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->
</body>
</html>
